<div class="profile-container">
  <div class="profile-card">

    <div class="image-container">
      <img src="../../assets/images/avatar.jpg" style="width: 100%">
      <div class="title">
        <h1>{{user.firstName}} {{user.lastName}}</h1>
      </div>
    </div>
    <div class="main-container">
      <h5><i class="fas fa-university info"></i>{{user.university.name}}</h5>
      <h5><i class="fas fa-envelope info"></i>{{user.email}}</h5>
      <h5><i class="fas fa-calendar-check info"></i>{{user.creationDate}}</h5>
      <h5><i class="fas fa-user-tie info"></i>{{user.username}}</h5>
      <a routerLink="/edit"><button mat-button class="edit-button">Edit</button></a>
      <br>
      <hr>
      <p>Rating</p>
      <div class="skill-bar">
        <div class="progress-bar" style="width: 85%">556</div>
      </div>
    </div>

  </div>
</div>

