h2, h3, h4, pagination-controls {
  text-align: center;
}

.image-container {
  position: relative;
  width: 500px;
  margin: auto;
}

mat-card {
  margin: auto;
}

.questionCard {
  background-color: #ffefe5;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  opacity: 0.8;
}

.userCard {
  width: auto;
  margin-right: 10px;
  text-align: right;
}

.keywords-chip-list {
  width: 100%;
}

#searchUniversityDiv {
  width: 95%;
  margin-right: auto;
  margin-left: auto;
  //display: flex;
}

#btnSearch {
  width: auto;
  margin-left: auto;
  display: flex;
}

#teachersList {
  margin-top: 20px;
}

#card-container {
  width: 500px;
  margin: auto;
  background: #fff;
  display: flex;
  justify-content: space-between;
}


#btnKeywordSearch {
  margin-right: 20%;
}


#btnRefresh {
  margin-right: 0px;
  background-color: coral;
}

#pagination {
  margin-top: 20px;
}

#sizeSelector {
  margin-left: 5%;
}

.responsive_nav_bar {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
}
