<div class="responsive_nav_bar">
    <button mat-raised-button color="primary" style="margin-right:50px;" routerLink="/universities/university">Create new University</button>

    <h2>Universities</h2>

    <div id="universitiesList">
        <mat-card class="card-container" *ngFor="let university of universities">

            <mat-card-title>
                <a [routerLink]="['/universities', university.id]">
                    {{university.name}}
                </a>
                <h5 style="color: #4b4fe2">City: {{university.city}}</h5>
                <div class="">
                    <img class="image-container" src="{{university.imageUrl}}" style="width: 100%">
                </div>
                <h6></h6>
                <div class="stars-container">
                    <star-rating [starType]="'svg'" [readOnly]="true" [rating]="university.mark"></star-rating>
                </div>
                <h6></h6>
                <mat-card-title>

                    <mat-card-title>
                        <button mat-raised-button color="primary" id="btnGetUniversityByIdSearch"
                                (click)="getUniversityById(university.id)">View feedbacks
                        </button>
                    </mat-card-title>
                </mat-card-title>
            </mat-card-title>


        </mat-card>
    </div>
    <h3 *ngIf="universities.length == 0">Sorry, universities are not found</h3>


</div>
