.answer-card {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }

.answer-create-form {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;

}

#answer-body {
    min-height: 100px;
    Width: 100%;
}