<h2>Welcome to Freelance</h2>

<button mat-raised-button color="primary" id="btnCreate" routerLink="/tasks/create">Create Task</button>

<div id="sizeSelector">
  <strong>Select how many tasks to show on a page &nbsp;</strong>
  <mat-form-field>
    <mat-label>Page size</mat-label>
    <mat-select [(value)]="pageSize" (selectionChange)="changePage(1)">
      <mat-option value=2 [disabled]="2 > tasksTotalCount">2</mat-option>
      <mat-option value=5 [disabled]="5 > tasksTotalCount">5</mat-option>
      <mat-option value=10 [disabled]="10 > tasksTotalCount">10</mat-option>
      <mat-option value=25 [disabled]="25 > tasksTotalCount">25</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<div id="tasksList">
  <mat-card class="taskCard" *ngFor="let task of tasks | paginate: {itemsPerPage: pageSize, currentPage: page, totalItems: tasksTotalCount}">
      
      <mat-card-title>
        <a [routerLink]="['/tasks', task.id]">{{ task.title }}</a> <br>
      </mat-card-title>

      <p>
        Task created: 
        <mat-chip *ngIf="task.creationDate">
          {{ task.creationDate }}
       </mat-chip>
      </p>

      <p>
        Deadline date: 
        <mat-chip *ngIf="task.deadlineDate">
          {{ task.deadlineDate }}
       </mat-chip>
      </p>

      <p>
        Expected price: 
        <mat-chip *ngIf="task.expectedPrice">
          {{ task.expectedPrice }}
       </mat-chip>
      </p>

      <p>
        Created by: 
        <mat-chip *ngIf="task.user">
          {{ task.user.username }}
       </mat-chip>
      </p>
  
  </mat-card>
</div>

<h3 *ngIf="tasks.length == 0">Sorry, tasks are not found</h3>
  
<div id="pagination">
  <pagination-controls *ngIf="tasks.length != 0" (pageChange)="changePage($event)"></pagination-controls>
</div>