<button class="createTask" mat-raised-button color="primary" id="btnCreate" routerLink="/tasks/create">Create Task</button>

<div id="tasksList">
  <mat-card class="taskCard" *ngFor="let task of tasks | paginate: {itemsPerPage: pageSize, currentPage: page, totalItems: tasksTotalCount}">
      
      <mat-card-title>
        <a [routerLink]="['/tasks', task.id]">{{ task.title }}</a> <br>
      </mat-card-title>

      <p class="createdDate" matTooltip="Created at:">
        <mat-chip *ngIf="task.creationDate">
          <div class="createdText" *ngIf="(today | date: 'MMM dd') === (task.creationDate | date: 'MMM dd')">{{task.creationDate | date: 'hh:mm'}}</div>
          <div class="createdText" style="margin-left: 5px" *ngIf="(today | date: 'MMM dd') !== (task.creationDate | date: 'MMM dd')">{{task.creationDate | date: 'dd'}}</div>
          <div class="createdText" *ngIf="(today | date: 'MMM dd') !== (task.creationDate | date: 'MMM dd')">{{task.creationDate | date: 'MMM'}}</div>
       </mat-chip>
      </p>

      <p class="deadlineDate" matTooltip="Deadline at:">
        <mat-chip *ngIf="task.deadlineDate">
            <div class="deadlineText" *ngIf="(today | date: 'MMM dd') === (task.deadlineDate | date: 'MMM dd')" >{{task.deadlineDate | date: 'hh:mm'}}</div>
            <div class="deadlineText" style="margin-left: 3px" *ngIf="(today | date: 'MMM dd') !== (task.deadlineDate | date: 'MMM dd')">{{task.deadlineDate | date: 'dd'}}</div>
            <div class="deadlineText" *ngIf="(today | date: 'MMM dd') !== (task.deadlineDate | date: 'MMM dd')">{{task.deadlineDate | date: 'MMM'}}</div>
       </mat-chip>
      </p>

      <p>
        categories
      </p>
  
  </mat-card>
</div>

<h3 *ngIf="tasks.length == 0">Sorry, tasks are not found</h3>
  
<div id="pagination">
  <pagination-controls *ngIf="tasks.length != 0" (pageChange)="changePage($event)"></pagination-controls>
</div>