.tags-chip-list {
  width: 100%;
}

h3 {
  text-align: center;
}

#submitBtn {
  float: right;
  margin-right: 20px;
  margin-top: 40px;
}

#questionForm {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

#backBtn {
  margin-left: 12%;
  margin-top: 25px;
}