<h3>Input data for the new Feedback!</h3>

<mat-card id="feedbackForm">
    <form class="my-form" [formGroup]="feedbackCreateForm" (ngSubmit)="onSubmit()" #userForm="ngForm">

        <!--<mat-form-field class="tags-chip-list">-->
            <!--<mat-label>Title</mat-label>-->
            <!--<input [(ngModel)]="question.title" class="form-control" id="title" formControlName="title"-->
                   <!--name="title" matInput placeholder="Title of question" required-->
                   <!--[ngClass]="{ 'is-invalid': submitted && f.title.errors }"/>-->
            <!--<div *ngIf="submitted && f.title.errors" class="invalid-feedback">-->
                <!--<div *ngIf="f.title.errors.required">Title is required</div>-->
            <!--</div>-->
        <!--</mat-form-field>-->
        <mat-form-field class="tags-chip-list">
            <mat-label>Body</mat-label>
            <input [(ngModel)]="feedback.body" class="form-control" id="body" formControlName="body"
                   name="body" matInput placeholder="Body of a feedback" required
                   [ngClass]="{ 'is-invalid': submitted && f.body.errors }"/>
            <div *ngIf="submitted && f.body.errors" class="invalid-feedback">
                <div *ngIf="f.body.errors.required">Body is required</div>
            </div>
        </mat-form-field>

        <!--<mat-form-field class="tags-chip-list">-->
            <!--<mat-chip-list #chipList aria-label="Tag selection">-->
                <!--<mat-chip *ngFor="let tag of tags" [selectable]="selectable"-->
                          <!--[removable]="removable" (removed)="removeTag(tag)">-->
                    <!--{{tag.name}}-->
                    <!--<mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>-->
                <!--</mat-chip>-->
                <!--<input placeholder="New tag..."-->
                       <!--[matChipInputFor]="chipList"-->
                       <!--[matChipInputSeparatorKeyCodes]="separatorKeysCodes"-->
                       <!--[matChipInputAddOnBlur]="addOnBlur"-->
                       <!--(matChipInputTokenEnd)="addTag($event)">-->
            <!--</mat-chip-list>-->
        <!--</mat-form-field>-->

        <button type="submit" [disabled]="loading" mat-raised-button color="primary" id="submitBtn"
                class="btn btn-success">Create Feedback
        </button>
    </form>

</mat-card>
<a mat-raised-button routerLink="/feedback" id="backBtn">Go back</a>