<div class="mainContainer">
    <!--<button mat-raised-button color="primary" id="btnCreate" routerLink="/teachers/{teacherId}">Create Teacher</button>-->
    <!--<button mat-button routerLink="." (click)="goBack()">Back</button>-->

    <mat-card class="university-profile-container">

        <div class="title">
            <h1>{{university.name}}</h1>
        </div>
        <div class="image-container">
            <img src="{{university.imageUrl}}" style="width: 100%">
        </div>
        <div class="title2">
            <h3>Mark: {{university.mark}}</h3>
        </div>
        <mat-card-title class="title3">
            <button mat-raised-button color="primary" style="margin-right:50px;"
                    routerLink="/universities/mark">
                Rate the university
            </button>
            <button mat-raised-button color="primary" style="margin-right:50px;"
                    routerLink="/feedback" >
                Add feedback
            </button>
        </mat-card-title>
    </mat-card>


    <div id="feedbacksList" *ngIf="feedbacks">
        <mat-card class="card-container" *ngFor="let feedback of feedbacks">

            <mat-card-title>
                <a [routerLink]="['/feedbacks', feedback.id]">
                    {{feedback.body}}
                </a> <br>
                <h6>Rating:
                    {{feedback.rate}}
                </h6>
                <h6>Mark:
                    {{feedback.mark}}
                </h6>
            </mat-card-title>


        </mat-card>
        <h3 *ngIf="feedbacks?.length == 0">You don't have feedbacks</h3>
    </div>

    <!--<mat-card id="feedbackForm">-->
        <!--<form class="my-form" [formGroup]="feedbackCreateForm" (ngSubmit)="onSubmit()" #userForm="ngForm">-->


            <!--<mat-form-field class="tags-chip-list">-->
                <!--<mat-label>Body</mat-label>-->
                <!--<input [(ngModel)]="feedback.body" class="form-control" id="body" formControlName="body"-->
                       <!--name="body" matInput placeholder="Body of a feedback" required-->
                       <!--[ngClass]="{ 'is-invalid': submitted && f.body.errors }"/>-->
                <!--<div *ngIf="submitted && f.body.errors" class="invalid-feedback">-->
                    <!--<div *ngIf="f.body.errors.required">Body is required</div>-->
                <!--</div>-->
            <!--</mat-form-field>-->


            <!--<button type="submit" [disabled]="loading" mat-raised-button color="primary" id="submitBtn"-->
                    <!--class="btn btn-success">Create Feedback-->
            <!--</button>-->
        <!--</form>-->
    <!--</mat-card>-->
</div>
