<div class="mainContainer">

    <mat-card class="university-profile-container">

        <div class="title">
            <h1>{{university.name}}</h1>
        </div>
        <div class="image-container">
            <img src="{{university.imageUrl}}" style="width: 100%">
        </div>
        <div class="stars-container">
            <star-rating [starType]="'svg'" [readOnly]="true" [rating]="university.mark"></star-rating>
        </div>
        <mat-card-title class="title3">
            <button mat-raised-button color="primary" style="margin-right:50px;" routerLink="/universities"
                    id="backBtn">Go back
            </button>

            <button mat-raised-button color="primary" style="margin-right:50px;"
                    *ngIf="canChangeOrDeleteUniversity(user)"
                    (click)="deleteUniversity(university.id)">
                Delete the university
            </button>
            <button mat-raised-button color="primary" style="margin-right:50px;"
                    routerLink="/create-feedback/{{universityId}}">
                Add feedback
            </button>
        </mat-card-title>
    </mat-card>


    <div id="feedbacksList" *ngIf="feedbacks">
        <mat-card class="card-container" *ngFor="let feedback of feedbacks">

            <mat-card-title>
                <a [routerLink]="['/feedbacks', feedback.id]">
                    {{feedback.body}}
                </a> <br>
                <h6>Rating:
                    {{feedback.rate}}
                </h6>
                <h6>Mark:
                    {{feedback.mark}}
                </h6>
            </mat-card-title>


        </mat-card>
        <h3 *ngIf="feedbacks?.length == 0">You don't have feedbacks</h3>
    </div>


</div>
