.edit-button {
  color: #fff;
  float: right;
  background: #4b4fe2;
  margin-left: 5px;
}
.responsive_nav_bar {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
}

image-cropper {
  max-height: 33vh;
}
