h2, h3, h4 {
    text-align: center;
}

mat-card {
    margin: 5px;
}
.questionCard {
    background-color: #ffefe5;
    width: 70%;
    margin-right: auto;
    margin-left: auto;
    opacity: 0.8;
}
.userCard {    
    width: auto;
    margin-right: 10px;    
    text-align: right;
}

.keywords-chip-list {
    width: 100%;
  }

#searchQuestionsDiv {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#questionsList {
    margin-top: 20px;
}

#btnTagSearch {
    margin-left: 30%;
}

#btnKeywordSearch {
    margin-right: 20%;
}

#btnCreate {
    margin-left: 5%;
}

#btnRefresh {
    margin-right: 0px;
    background-color: coral;
}