  body {
    background-image: url(https://images.ctfassets.net/idmfh0ehr6d7/3l7fIC4HD22s2iYWiE6Cam/4760a0ebeff1e72117657eba7e8546e3/pattern.png);
    background-size: 100%;
  }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
