.auth-form{
    background-color: #ffefe5;
    width:45%;
    margin-top: 15%;
    margin-left: 27.5%;
}
.title{
    text-align: center;
    white-space: nowrap;
    padding-top: 30px;
    padding-bottom: 30px;
}