<mat-card id="teamForm">
  <h3>Members</h3>
  <hr>
  <form class="my-form" (ngSubmit)="onSubmit()" #userForm="ngForm">

    <mat-form-field class="general">
      <input #memberField matInput placeholder="Add member" aria-label="User" [matAutocomplete]="auto"
        [formControl]="usersCtrl">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let user of filteredUsers | async" [value]="user.username"
          (onSelectionChange)="getUserFromUsername(user.username)">
          <img class="example-option-img" aria-hidden [src]="user.imageUrl" height="25">
          <span>{{user.username}}</span> |
          <small>{{user.firstName}} {{user.lastName}}</small>
        </mat-option>
      </mat-autocomplete>

      <button mat-icon-button class="addMember" (click)="addMember()">
        <mat-icon>person_add</mat-icon>
      </button>
    </mat-form-field>
    <ul>
      <li *ngFor="let member of team.userList">
        {{member.username}}
        <button class="memberClose" *ngIf="canModifyTeam()" mat-icon-button (click)="deleteMember(member)">
          <mat-icon>close</mat-icon>
        </button>
      </li>
    </ul>
    <ul>
      <li *ngFor="let invitation of team.invitations">
        {{invitation.user.username}}
        <button class="memberCancel" *ngIf="canModifyTeam()" mat-icon-button (click)="deleteInvitation(invitation)">
          Cancel invitation
        </button>
      </li>
    </ul>
  </form>

  <a mat-raised-button (click)="goBack()" id="backBtn">Go back</a>
  <button type="submit" mat-raised-button color="primary" *ngIf="canModifyTeam()" class="btn btn-success" (click)="onSubmit()">Update</button>
</mat-card>