.body{
    margin-top: 15px;
    font-size: 1.2em;
    font-weight: 400;
}

 .pPrice{
    font-size: 1em;
    font-weight: 500;
    background-color: rgb(61, 163, 61);
    color: white;
    padding: 3px 10px;
    position: absolute;
    top: 15%;
    right: 10%;
    border-radius: 7px;
}

.card-left{
    display: inline-block;
    width: 90%;
    vertical-align: top;
}

 .card-right{
    display: inline-block;
    margin-left: 1%;
    width: 20%;
}

 .tags{
    margin-left: 3px;
}

.taskCard {
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.3);
    margin-bottom: 20px;
    margin-left: 5px;
    margin-right: 5px;
}	

.cardContainer {
    margin-left: 0px;

}

.rating{
    width: 25%;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 7px;
}

.rating-right-top{
    margin-top: 10px;
    margin-left: 10px;
    float: left;
}

.rating-right{
    margin-left: 10px;
    float: left;
}

.star-right{
    float: right;
}

.cardcont{
    position: relative;
    float:left;
    margin-bottom: 20px;
    width: 80%;
}

.rating{
    position: absolute;
    right: 0;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.3);
}

.chat-demo-empty-box {
    height: 400px;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.3);
    margin-bottom: 20px;
}

.btnRating{
    position: absolute;
    right: 0;
}

.responsive_nav_bar {
    position: absolute;
    top: 60px;
    margin-left: 10%;
    margin-top: 5%;
    margin-right: 13%;
  }
