<div *ngIf="order" class="responsive_nav_bar">
  <div class="cardcont">
    <div class="card-left">
      <mat-card *ngIf="order.task" class="taskCard">
        <mat-card-title>
          {{order.task.title}}
        </mat-card-title>
        <mat-divider></mat-divider>
        <p class="body">
          {{ order.task.body }}
        </p>
        <mat-divider></mat-divider>
        <mat-chip-list>
          <div class="tags" *ngFor="let tag of order.task.tagList">
            #{{tag.name}}
          </div>
        </mat-chip-list>
      </mat-card>
      <div class="chat-demo-empty-box">
        chat should go here
      </div>
    </div>
    <div class="card-right">

        <mat-card *ngIf="order.task" class="taskCard">
	        <div>
	          Author: {{ order.task.user.username }}
 	        </div>
       </mat-card>
       <mat-card *ngIf="order.task" class="taskCard">
 
          <div>
           Task Created: {{ order.task.creationDate | date: 'dd.MM.yyyy' }}
         </div>
       </mat-card>
       <mat-card *ngIf="order" class="taskCard">
 
          <div>
           Task Started: {{ order.startDate | date: 'dd.MM.yyyy' }}
         </div>
       </mat-card>
       <mat-card *ngIf="order" class="taskCard">
         <div>
           Deadline date: {{ order.endDate | date: 'dd.MM.yyyy' }}
         </div>
       </mat-card>
       <mat-card *ngIf="order.proposal" class="taskCard">
         <div>
           Expected price: {{ order.proposal.price }} ₡
         </div>
       </mat-card>
    </div>
    <div class="submitResult" *ngIf="isUserExecutor() && isTaskInProgress()">
      <form [formGroup]="formGroup" novalidate (ngSubmit)="submitResult()">
          <input type="file" (change)="onFileChange($event)"/>
          <button type="submit" [disabled]="formGroup.invalid || formGroup.prestine">Submit</button>
      </form>
    </div>
    <div class="resultFile" *ngIf="isTaskDone()">
      {{order.resultSubmission.fileUrl}}
    </div>
    <div class="empty-box">

    </div>
  </div>
</div>


