.responsive_nav_bar {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  height: calc(100% - 130px);
}

.chat-container{
  border-radius: 15px;
  border: 1px solid #dcdcdc;
  width: 90%;
  height: 100%;
  background: #fdfdfd;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  box-sizing: border-box;
}

.chat-container__header{
  border-radius: 15px 15px 0 0;
  border-bottom: 1px solid #dcdcdc;
  position: relative;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 5px 20px;
  background: #F3E5F5;
}

.chat-container__name {
  cursor: pointer;
}

.chat-container__hidden{
  display: none;
}

.chat-container__photo-img{
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.chat-container__photo{
  position: absolute;
  top:0;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items:center;
  height: 100%;
  width: 50px;
  cursor: pointer;
}
.chat-container__back-button{
  width: 50px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  height: 100%;
  position: absolute;
  top: 0;
  padding: 0 30px;
  box-sizing: content-box;
  left: 0px;
  align-items: center;
  &:hover{
    border-top-left-radius: 15px;
    background: darken(#F3E5F5, 30%);
    cursor: pointer;
  }
}

.chat-container__back-button-icon{

}

.chat-container__footer{
  border-radius: 0 0 15px 15px;
  border-bottom: 1px solid #dcdcdc;
  background: #F3E5F5;
  height: 100px;
  display: flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chat-container__body{
  height: calc(100% - 150px);
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 15px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-container__wr{
  display: flex;
  min-height: min-content;
}

.chat-container__attachment {
  width: 10%;
  justify-content: center;
  display: flex;
  height: 100%;
  align-items: center;
  cursor: pointer;
  &:hover{
    border-bottom-left-radius: 15px;
    background: darken(#F3E5F5, 30%);
  }
}

.chat-container__input{
}

.chat-container__send {
  width: 10%;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
  &:hover{
    border-bottom-right-radius: 15px;
    cursor: pointer;
    background: darken(#F3E5F5, 30%);
  }
}

.chat-container__input{
  width:100%;
  height: 90px;
  box-sizing: border-box;
  padding-top: 6px;
  padding-bottom: 6px;
}

.chat-container__textarea {
  width: 100%;
}

textarea {
  outline: none;
  resize: none;
}

.message-their {
  border-radius: 10px;
  min-height: 30px;
  width: fit-content;
  min-width: 10%;
  max-width: 45%;
  box-sizing: border-box;
  margin-top: 20px;
  margin-left: 20px;
  float: left;
  clear: both;
  padding: 5px 10px;
  position: relative;
  background: darken(#F3E5F5, 8%);


  .message-triangular {
    position: absolute;
    bottom: -12px;
    left: -12px;
    border: 12px solid transparent;
    width: 0;
    height: 0;
    border-right-color: darken(#F3E5F5, 8%);
    transform: rotate(-45deg);
  }
}

.message-my {
  background: darken(#F3E5F5, 15%);
  border-radius: 10px;
  min-height: 30px;
  width: fit-content;
  min-width: 10%;
  max-width: 45%;
  box-sizing: border-box;
  margin-top: 20px;
  margin-right: 20px;
  padding: 5px 10px;
  float: right;
  clear:both;
  position: relative;

  .message-triangular {
    position: absolute;
    bottom: -12px;
    right: -12px;
    border: 12px solid transparent;
    width: 0;
    height: 0;
    border-right-color: darken(#F3E5F5, 15%);
    transform: rotate(-135deg);
  }
}


.message-content{
  display: block;
  height: fit-content;
  word-break: break-all;
}

chat-container__empty {
  text-align: center;
  color: #FF7F50;
}

@media all and (max-width: 960px){
  .chat-container{
    width: 100%;
  }
}
