.mainContainer{
    position: absolute;
    left: 0;
    right: 0;
    top: 60px;
}

.newsCard {
    background-color: #ffefe5;
    width: 85%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    opacity: 0.8;
    //overflow: hidden;
    //white-space: nowrap;
    //text-overflow: ellipsis;
}

.newsBody{
    //display: inline-block;
    //width: 1000px;
    height: 80px;
    overflow-wrap: break-word;
    overflow: hidden;
    // white-space: nowrap;
    // text-overflow: ellipsis;
    
}

.footerCard{
    display: flex;
    justify-content: space-between;
}

.dateCard{
    padding-top: 10px;
}

.responsive_nav_bar {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
}

