<div class="mainContainer responsive_nav_bar">
    
    <button mat-button routerLink="." (click)="goBack()">Back</button>

    <div id="newsList">

        <mat-card class="newsCard"
            *ngFor="let news of newsList ">

            <mat-card-title>
                <a href={{news.sourceUrl}}>
                    <h4>{{news.title}}</h4>
                    
                </a>
                <div class="newsBody"><h6 [innerHTML]="news.body"></h6></div>
                
                <div><h6>{{news.creationDate | date: 'MMM dd'}}</h6></div>
                
            </mat-card-title>

        </mat-card>
    </div>
    
</div>