.mainContainer {
  position: absolute;
  left: 0;
  right: 0;
  top: 30px;
}

#card-container {
  /*  not needed styles to reflect it */
  background: blue;
  padding: 10px;
  color: white;
  /* needed styles below */
  display: flex;
  justify-content: space-between;
  width: 500px;
}


.teacher-profile-container {
  font-family: sans-serif;
  color: #3c3939;
  position: center;
  margin: auto;
  top: 40px;
  margin-bottom: 50px;
  width: 80%;
  //display: flex;
}

.profile-card {
  width: 80%;
  margin: auto;
  background: #fff;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
}

.image-container {
  position: relative;
}

.feedbacksList{
  width: 80%;
  margin: auto;
  position: center;
  font-family: sans-serif;
  padding: 10px;
}
.card-container{
  width: 90%;
  margin: auto;
  position: center;
  font-family: sans-serif;
  padding: 10px;
}

.info {
  color: #4b4fe2;
  margin-right: 16px;
}

.main-container {
  padding: 20px;
}

.skill-bar {
  background-color: #bdc9ea;
  border-radius: 16px;
}

.progress-bar {
  padding: 0.1em;
  border-radius: 16px;
  text-align: center;
  color: #fff;
  background-color: #4b4fe2;
}

.title {
  //position: absolute;
  position: relative;
  left: 15px;
  bottom: 5px;
  color: #4b4fe2;
}

.title1 {
  position: relative;
  left: 15px;
  bottom: 5px;
  color: #4b4fe2;
}

.title2 {
  position: relative;
  left: 15px;
  bottom: 15px;
  top: 10px;
  color: #4b4fe2;
}

.title3 {
  position: relative;
  left: 40%;
  bottom: 15px;
  top: 10px;
  color: #4b4fe2;
}

.title h1 {
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.5);
}

.edit-button {
  color: #fff;
  float: right;
  background: #4b4fe2;
}

@media all and (max-width: 1300px) {
  .card__face--content {
    font-size: 30px;
    width: 85%;
  }
}

@media all and (max-width: 1050px) {
  .menu {
    width: 95%;
  }
}

@media all and (max-width: 1300px) {
  .card__face--content {
    font-size: 20px;
    width: 100%;
  }
  .menu {
    width: 98%;
  }
}

@media all and (max-width: 600px) {

  .menu__link {
    width: 100%;
    height: 25%;
  }
}

.responsive_nav_bar {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
}
