<div class="mainContainer">

    <mat-card class="teacher-profile-container">

        <div class="title">
            <h1>{{teacher.firstName}} {{teacher.lastName}}</h1>
        </div>
        <div class="title1">
            <h3>{{teacher.university.name}}</h3>
        </div>
        <div class="image-container">
            <img src="{{teacher.imageUrl}}" style="width: 100%">
        </div>
        <div class="stars-container">
            <star-rating [starType]="'svg'" [readOnly]="true" [rating]="teacher?.mark"></star-rating>
        </div>
        <mat-card-title class="title3">
            <button mat-raised-button color="primary" style="margin-right:50px;" routerLink="/teachers" id="backBtn">Go back</button>
            <button mat-raised-button color="primary" style="margin-right:50px;"
                    *ngIf="canChangeOrDeleteTeacher(user)"
                    (click)="deleteTeacher(teacher.id)">
                Delete the teacher
            </button>
            <button mat-raised-button color="primary" style="margin-right:50px;"
                    *ngIf="canChangeOrDeleteTeacher(user)"
                    routerLink="/update/{{teacherId}}">
                Edit the teacher
            </button>
            <button mat-raised-button color="primary" style="margin-right:50px;"
                    *ngIf="canChangeOrDeleteTeacher(user)"
                    routerLink="/create-feedback/{{teacherId}}">
                Add feedback
            </button>
        </mat-card-title>
    </mat-card>


    <div id="feedbacksList" *ngIf="feedbacks">
        <mat-card class="card-container" *ngFor="let feedback of feedbacks">

            <mat-card-title>
                <a [routerLink]="['/feedbacks', feedback.id]">
                    {{feedback.body}}
                </a> <br>
                <mat-card-title *ngIf="feedback.user">
                    <h5>Username:
                        {{feedback.user.username}}
                    </h5>
                </mat-card-title>
                <h6>Mark:
                    {{feedback.mark}}
                </h6>
            </mat-card-title>


        </mat-card>
        <h3 *ngIf="feedbacks?.length == 0">You don't have feedbacks</h3>
    </div>
</div>

