<mat-card class="answer-create-form">
   <form (ngSubmit)="onSubmit()" #userForm="ngForm" id="createAnswerForm">

      <div>
         <label>Your answer</label>
         <ckeditor [editor]="editor" data="Type Your answer here" [(ngModel)]="newAnswer.body" id="answer-body"
            name="body">
         </ckeditor>
      </div>

   </form>
</mat-card>
<button type="submit" mat-raised-button color="primary" [disabled]="!submitButtonEnabled"
   class="btn btn-success btn-submit" (click)="onSubmit()">Post answer</button>
<div id="emptyBox" style="width: 100%; height: 40px; "></div>