<div class="responsive_nav_bar">
  <h3>Input data for the new Question!</h3>

  <div id="questionForm">
    <form class="my-form" [formGroup]="questionCreateForm" (ngSubmit)="onSubmit()" #userForm="ngForm">

      <mat-form-field class="tags-chip-list">
        <mat-label>Title</mat-label>
        <input [(ngModel)]="question.title" class="form-control" id="title" formControlName="title" name="title"
          matInput placeholder="Title of question" required [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
        <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
          <div *ngIf="f.title.errors.required">Title is required</div>
        </div>
      </mat-form-field>
      <!-- <mat-form-field class="tags-chip-list">
        <mat-label>Body</mat-label>
        <input [(ngModel)]="question.body" class="form-control" id="body" formControlName="body" name="body" matInput
          placeholder="Body of question" required [ngClass]="{ 'is-invalid': submitted && f.body.errors }" />

        <div *ngIf="submitted && f.body.errors" class="invalid-feedback">
          <div *ngIf="f.body.errors.required">Body is required</div>
        </div>
      </mat-form-field> -->

      <div>
        <label>Body</label>
        <ckeditor [editor]="editor" data="Type Your question here" [(ngModel)]="question.body" id="body" formControlName="body" name="body">
        </ckeditor>
      </div>

      <mat-form-field class="tags-chip-list">
        <mat-chip-list #chipList aria-label="Tag selection">
          <mat-chip *ngFor="let tag of tags" [selectable]="selectable" [removable]="removable"
            (removed)="removeTag(tag)">
            {{tag.name}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input placeholder="New tag..." [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="addTag($event)">
        </mat-chip-list>
      </mat-form-field>

    </form>

    <button type="submit" mat-raised-button color="primary" class="btn btn-success" (click)="onSubmit()">Create
      Question</button>

  </div>

  <a mat-raised-button routerLink="/questions" id="backBtn">Go back</a>
</div>
