<div class="responsive_nav_bar">
    <h2>Recent News</h2>

    <div id="feedList">

        <mat-card class="feedCard" *ngFor="let feeds of feedList">

            <mat-card-title>
                <a [routerLink]="['/news', feeds.id]">
                    <i class="fa fa-rss" aria-hidden="true"></i> {{feeds.name}}
                </a> <br>
                <button mat-stroked-button color="primary" (click)="followChannel(feeds.id)">Follow</button>
            </mat-card-title>

        </mat-card>
    </div>

    <h2>Followed feeds</h2>
    
    <div id="feedList">

        <mat-card class="feedCard"  *ngFor="let userfeeds of userFeedList">

            <mat-card-title>
                <a [routerLink]="['/news', userfeeds.id]">
                    <i class="fa fa-rss" aria-hidden="true"></i> {{userfeeds.name}}
                </a> <br>
                <button mat-stroked-button color="primary" (click)="followChannel(userfeeds.id)">UnFollow</button>
            </mat-card-title>

        </mat-card>
    </div>
    <h3 *ngIf="feedList?.length == 0">Sorry, feeds are not found</h3>

</div>