<div id="general">
  <div class="header">

  </div>
  <div class="menu">
    <a  class="menu__link light_orange">
      <div class="card" onmouseover="event.stopPropagation()">
        <div class="card__face card__face--front">
          <div class="card__face--img">
            <img src="assets/images/meat.png" alt="Meat">
          </div>
          <div class="card__face--content">
            Steak Overflow
          </div>
        </div>
        <div class="card__face card__face--back">
          <div class="card__face--content card__face--content-big">
            Here You can ask questions<br>And answer other's questions
          </div>
        </div>
      </div>
    </a>
    <a href="" class="menu__link light_green">
      <div class="card" onmouseover="event.stopPropagation()">
        <div class="card__face card__face--front">

          <div class="card__face--content">
            My Profile
          </div>
          <div class="card__face--img">
            <img src="assets\images\boy.png" alt="Boy">
          </div>
        </div>
        <div class="card__face card__face--back">
          <div class="card__face--content card__face--content-big">
            Here You can see Your info<br>Also change Your profile information
          </div>
        </div>
      </div>
    </a>
    <a href="" class="menu__link light_blue">
      <div class="card" onmouseover="event.stopPropagation()">
        <div class="card__face card__face--front">
          <div class="card__face--img">
            <img src="assets\images\mortarboard.png" alt="Mortarboard">
          </div>
          <div class="card__face--content">
            University space
          </div>
        </div>
        <div class="card__face card__face--back">
          <div class="card__face--content card__face--content-big">
            Here You can see information about unniversities<br>Also You can find information about teachers from these universities
          </div>
        </div>
      </div>
    </a>
    <a href="" class="menu__link light_purple">
      <div class="card" onmouseover="event.stopPropagation()">
        <div class="card__face card__face--front">

          <div class="card__face--content">
            Freelance for cookies
          </div>
          <div class="card__face--img">
            <img src="assets\images\cookies.png" alt="Cookies">
          </div>
        </div>
        <div class="card__face card__face--back">
          <div class="card__face--content card__face--content-big">
            Here You can help others to solve different tasks<br>Also You can get some cookies for your solutions<br>Also You can get help from others
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
