<button mat-raised-button color="warn" routerLink="/teachers/create">Create Teacher</button>

      

<h2>Teachers</h2>

<mat-card *ngFor="let teacher of teachers">
    
    <mat-card-title>
        <a [routerLink]="['/teachers', teacher.id]">
        {{teacher.lastname}}
        </a> <br>
        <h6>
        {{teacher.creationDate}}
      </h6>

    </mat-card-title>
    <mat-table *ngIf="teacher.firstName" >

       {{teacher.user.id}}
      {{teacher.lastName}}
      <button mat-raised-button color="warn" routerLink="/teachers/feedback">Feedback</button>
    </mat-table>


</mat-card>

