<div class="container">
  <h1>Edit Profile</h1>
  <hr>
  <div class="row">
    <!-- left column -->
    <div class="col-md-3">
      <div class="text-center">
        <!-- <img src="{{user.imageUrl}}" class="avatar img-circle" alt="avatar"> -->
        <h6>Upload a different photo...</h6>

        <input type="file" class="form-control">
      </div>
    </div>

    <!-- edit form column -->
    <div class="col-md-9 personal-info">

      <h3>Personal info</h3>

      <form class="form-horizontal" #f="ngForm" (ngSubmit)="onSubmit(f)">
        <div class="form-group">
          <label class="col-lg-3 control-label">First name:</label>
          <div class="col-lg-8">
            <input name="firstname" ngModel class="form-control" type="text" value="{{user.firstName}}">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Last name:</label>
          <div class="col-lg-8">
            <input name="lastname" ngModel class="form-control" type="text" value="{{user.lastName}}">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Email:</label>
          <div class="col-lg-8">
            <input name="email" ngModel class="form-control" type="text" value="{{user.email}}">
          </div>
        </div>
        <input type="submit" value="Save">
        <a routerLink="/profile"><input type="button" value="Cancel"></a>
      </form>
    </div>
  </div>
</div>
<hr>
