<div class="responsive_nav_bar">

<div class="chatlist-container">
  <div class="chat-preview" *ngFor="let listItem of chatListItems" [routerLink]="['/chat', listItem.chatId]">
    <div class="chat-preview__content">
      <div class="chat-preview__img">
        <img class="chat-preview__img-img" src="{{listItem.photoUrl}}" alt="">
      </div>
      <div class="chat-preview__info">
        <div class="chat-preview__name">
          {{listItem.username}}
        </div>
        <div class="chat-preview__last-message">
          {{listItem.lastMessageText}}
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="chatListItems.length == 0" class="chatlist-container__empty"><h5>You do not have any chats yet.</h5></div>

</div>

</div>
