<div class="responsive_nav_bar">

<div class="chatlist-container" [innerHTML]="chatListBody | safeHtml">
  <!--<div class="chat-preview">
    <div class="chat-preview__img">
      <img class="chat-preview__img-img" src="https://avatars3.githubusercontent.com/u/24925918?s=460&v=4" alt="">
    </div>
    <div class="chat-preview__info">
      <div class="chat-preview__name">
        11b
      </div>
      <div class="chat-preview__last-message">
        fuck this
      </div>
    </div>
  </div>
  <div class="chat-preview">
    <div class="chat-preview__img">
      <img class="chat-preview__img-img" src="https://avatars3.githubusercontent.com/u/24925918?s=460&v=4" alt="">
    </div>
    <div class="chat-preview__info">
      <div class="chat-preview__name">
        11b
      </div>
      <div class="chat-preview__last-message">
        fuck this
      </div>
    </div>
  </div>
  <div class="chat-preview">
    <div class="chat-preview__img">
      <img class="chat-preview__img-img" src="https://avatars3.githubusercontent.com/u/24925918?s=460&v=4" alt="">
    </div>
    <div class="chat-preview__info">
      <div class="chat-preview__name">
        11b
      </div>
      <div class="chat-preview__last-message">
        fuck this
      </div>
    </div>
  </div>
  <div class="chat-preview">
    <div class="chat-preview__img">
      <img class="chat-preview__img-img" src="https://avatars3.githubusercontent.com/u/24925918?s=460&v=4" alt="">
    </div>
    <div class="chat-preview__info">
      <div class="chat-preview__name">
        11b
      </div>
      <div class="chat-preview__last-message">
        fuck this
      </div>
    </div>
  </div>-->
</div>

</div>
