<div class="responsive_nav_bar">
<div class="chatlist-container">
  <img *ngIf="loading" class="pl-3"
       src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
  <div class="chat-preview" *ngFor="let listItem of chatListItems" [routerLink]="['/chat', listItem.chatId, listItem.secret]">
    <div class="chat-preview__content">
      <div class="chat-preview__img">
        <img class="chat-preview__img-img" src="{{listItem.photoUrl}}" alt="">
      </div>
      <div class="chat-preview__info">
        <div class="chat-preview__name">
          {{listItem.username}}
        </div>
        <div class="chat-preview__last-message">
          {{listItem.lastMessageText}}
        </div>
      </div>
      <mat-icon *ngIf="listItem.secret == true" aria-hidden="false">lock_outlined</mat-icon>
    </div>
  </div>
  <div *ngIf="chatListItems.length == 0 && loading == false" class="chatlist-container__empty"><h5>You do not have any chats yet.</h5></div>

</div>

</div>
