<div>
<nav class = "navbar navbar-expand-md bg-orange ">
  <a class="navbar-brand">Studhub</a>
  <div class="collapse navbar-collapse">
    <ul class= "navbar-nav mr-auto">
      <li class="navbar-item">
        <a class="nav-link" href="">Home</a>
      </li>
      <li class="navbar-item">
          <a class="nav-link" href="/questions">QA</a>
      </li>
      <li class="navbar-item">
          <a class="nav-link" href="/tags">Tags</a>
      </li>
      <li class="navbar-item">
          <a class="nav-link" href="/universities">University rate</a>
      </li>
      <li class="navbar-item">
        <a class="nav-link" href="/teachers">Teacher rate</a>
      </li>
      
    </ul>
  </div>
</nav>
</div>
