<div>
<nav class = "navbar navbar-expand-md bg-orange ">
  <a class="navbar-brand">Studhub</a>
  <div class="collapse navbar-collapse">
    <ul class= "navbar-nav mr-auto">
      <li class="navbar-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="navbar-item">
          <a class="nav-link" routerLink="/questions">QA</a>
      </li>
      <li class="navbar-item">
          <a class="nav-link" routerLink="/universities">University rate</a>
      </li>
      <li class="navbar-item">
        <a class="nav-link" routerLink="/teachers">Teacher rate</a>
      </li>
      <li class="navbar-item">
        <a class="nav-link" routerLink="/tags">Tags</a>
    </li>
      <li class="navbar-item">
        <a class="nav-link" routerLink="/signin">Sign in</a>
      </li>
      <li class="navbar-item">
        <a class="nav-link" routerLink="/signup">Sign up</a>
      </li>
      <li class="navbar-item">
        <a class="nav-link" (click)="logout()">Log out</a>
      </li>
    </ul>
  </div>
</nav>
</div>
