.auth-form{
    background-color: #ffefe5;
    width:45%;
    margin-top: 5%;
    margin-left: 27.5%;
}
.title{
    text-align: center;
    padding-top: 30px;
}

@media all and (max-width: 1025px){
    .auth-form {
      margin:7.5%;
      margin-top: 30%;
      width: 85%;
    }
}

@media all and (max-width: 769px){
    .auth-form {
        margin:7.5%;
        margin-top: 30%;
        width: 85%;
      }
  }
  
  @media all and (max-width: 415px){
    .auth-form {
        margin:7.5%;
        margin-top: 30%;
        width: 85%;
      }
  }
  
  @media all and (max-width: 380px){
    .auth-form {
        margin:7.5%;
        margin-top: 25%;
        width: 85%;
      }

  }

  @media all and (max-width: 340px){
    .auth-form {
        margin:7.5%;
        margin-top: 15%;
        width: 85%;
      }

  }

.responsive_nav_bar {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
}

/* Shared */
.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}



  
