.auth-form{
    background-color: #ffefe5;
    width:45%;
    margin-top: 5%;
    margin-left: 27.5%;
}
.title{
    text-align: center;
    padding-top: 30px;
}

@media all and (max-width: 1025px){
    .auth-form {
      margin:7.5%;
      margin-top: 30%;
      width: 85%;
    }
}

@media all and (max-width: 769px){
    .auth-form {
        margin:7.5%;
        margin-top: 30%;
        width: 85%;
      }
  }
  
  @media all and (max-width: 415px){
    .auth-form {
        margin:7.5%;
        margin-top: 30%;
        width: 85%;
      }
  }
  
  @media all and (max-width: 380px){
    .auth-form {
        margin:7.5%;
        margin-top: 25%;
        width: 85%;
      }

  }

  @media all and (max-width: 340px){
    .auth-form {
        margin:7.5%;
        margin-top: 15%;
        width: 85%;
      }

  }

  
  
