<h3>Update data in the Team!</h3>

<mat-card id="teamForm">
  <form class="my-form" [formGroup]="teamUpdateForm" (ngSubmit)="onSubmit()" #userForm="ngForm">

    <mat-form-field class="general">
      <mat-label>Title</mat-label>
      <input [(ngModel)]="team.title" class="form-control" id="title" formControlName="title"
         name="title"   matInput  placeholder="Title of team" required
         [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />

      <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
        <div *ngIf="f.title.errors.required">Title is required</div>
      </div>
    </mat-form-field>
  </form>

  <a mat-raised-button (click)="goBack()" id="backBtn">Go back</a>
  <button type="submit" mat-raised-button color="primary"  class="btn btn-success"  (click)="onSubmit()">Update Team</button>
</mat-card>


