<mat-card *ngIf="question">
        <mat-card-title>
            {{question.title}}
        </mat-card-title>
        <mat-card-content>
            {{question.body}}
        </mat-card-content>
        <mat-card-footer>
            {{question.creationDate}} 
        </mat-card-footer>
        
    <button routerLink="/questions/{{question.id}}/edit">Edit</button>
    <button class="btn btn-danger"  (click)="delete(question.id)">Delete</button>
    <button class="btn btn-dark" (click)="goBack()">Back</button>
    <button mat-raised-button color="warn" routerLink="/questions/create">Create Question</button>
    
    </mat-card>
    <mat-card *ngIf="question?.answerList">
        <mat-card *ngFor="let answer of question.answerList">
        <mat-card-content >
            {{answer.id}} 
        </mat-card-content>
        <!-- <mat-card-footer>
                {{answer.user}} {{answer.creationDate}}
        </mat-card-footer>
        <button>Edit</button> -->
    <button>Delete</button>
    <button>Comment</button>

 <!-- <mat-card *ngIf="question?.answerList?.commentList" >
     <mat-card *ngFor="let comment of question.answerList.commentList">
            <mat-card-content>
                {{comment.body}} 
            </mat-card-content>
            <mat-card-footer>
                    {{comment.user}} {{comment.creationDate}}
            </mat-card-footer>
            <button>Edit</button>
        <button>Delete</button>   
    </mat-card>
    </mat-card> -->

</mat-card>
</mat-card>
    
   

    
    