<!-- <mat-card *ngIf="question">
        <mat-card-title>
            {{question.title}}
        </mat-card-title>
        <mat-card-content>
            {{question.body}}
        </mat-card-content>
        <mat-card-footer>
            {{question.creationDate}} {{question.user}}
        </mat-card-footer>
    <button>Edit</button>
    <button>Delete</button>
    
    </mat-card>
    <mat-card *ngIf="question.answerList" *ngFor="let answer of question.answerList">
        <mat-card-content>
            {{answer.body}} 
        </mat-card-content>
        <mat-card-footer>
                {{answer.user}} {{answer.creationDate}}
        </mat-card-footer>
        <button>Edit</button>
    <button>Delete</button>
    <button>Comment</button>
    
    <mat-card *ngIf="question.answerList.commentList" *ngFor="let comment of question.answerList.commentList">
            <mat-card-content>
                {{comment.body}} 
            </mat-card-content>
            <mat-card-footer>
                    {{comment.user}} {{comment.creationDate}}
            </mat-card-footer>
            <button>Edit</button>
        <button>Delete</button>
        
    
    </mat-card> -->